<template>
  <v-layout row>
      <v-dialog v-model="dialog" max-width="600px" lazy-validation>
        
          <template v-slot:activator="{ on }">
            <v-flex class="text-xs-right" xs12>
              <v-btn color="success" v-on="on">
                <font-awesome-icon icon="plus"/>
              </v-btn>
            </v-flex>
          </template>

        <v-card>
          <v-card-title>
            <span class="headline">Create new file</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-form ref="form" v-model="valid">
                    <v-text-field :rules="[() => filename.length > 0 || 'Required field']" v-model="filename" label="Filename" required></v-text-field>
                  </v-form>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="addNewDocument">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    
  </v-layout>
</template>

<script>
import Vue from 'vue'
import Receiver from '@/mixins/Receiver'

export default Vue.component('add-new-file', {
  data () {
    return {
      valid: true,
      filename: '',
      dialog: false
    }
  },
  methods: {
      addNewDocument: function () {
        if (!this.$refs.form.validate())
          return;
        this.$createDoc(this.filename)
        this.dialog = false
        this.$emit('added')
      }
  }
})
</script>