<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="290">
      <template v-slot:activator="{ on }">
        <v-btn color="error" v-on="on"><font-awesome-icon icon="trash"/></v-btn>
      </template>
      <v-card>
        <v-card-title class="headline">Do you wish to delete this file?</v-card-title>
        <v-card-text>Deleting this file is irreversible and will delete it for other users, too.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="dialog = false">No</v-btn>
          <v-btn color="green darken-1" flat @click="deleteDoc">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import Vue from 'vue'

export default Vue.component('delete-file', {
  props: ['docID'],
  data () {
    return {
      dialog: false
    }
  },
  methods: {
    deleteDoc: function() {
      this.$deleteDoc(this.docID)
      this.dialog = false
      this.$emit('deleted')
    }
  }
})
</script>