<template>
  <v-container>
    <layout-basic>
      <v-textarea ref="document" v-model="docText" :placeholder="this.$route.params.id.toString()" dark background-color="black" />
    </layout-basic>
  </v-container>
</template>

<script>
import LayoutBasic from '@/components/layouts/basic'
import Receiver from '@/mixins/Receiver'
import Vue from 'vue'
import { Insertion, Deletion, createTransformation } from '@/document/transformHelper'
import {
  TEXT_UNCHANGED,
  TEXT_BUFFERED,
  TEXT_APPLYING
} from '../mutation-types'

export default Vue.component('edit', {
  mixins: [ Receiver ],
  components: {
    LayoutBasic
  },
  data () {
    return {
      docID: null,
      docText: '',
      prevDocText: '',
      version: 0,
      info: '',
      bufferedTransformations: []
    }
  },
  methods: {

    setCursorPosition: function (pos) {
      
      this.$nextTick(() => {
        this.$refs.document.$el.querySelector('textarea').focus();
        this.$refs.document.$el.querySelector('textarea').setSelectionRange(pos, pos);
      });
      
    },

    // Can be called only in TEXT_UNCHANGED state: detects changes performed by the user
    checkChangedData: function () {

      // Detect current cursor position
      let cursorPos = this.$refs.document.$el.querySelector('textarea').selectionEnd

      // Create an (already applied) transformation object for the detected change
      var transformation = createTransformation(this.prevDocText, this.docText, cursorPos, this.version)
      
      // If any changes were made
      if (transformation) {

        // Push the transformation to the buffer so that it can be fixed if collides with any other server transformation
        this.pushTransform(transformation)

        // Increment the server version: transformation was made
        this.version = this.version + 1

        // Send the transformation to the server
        switch (transformation.type) {
          case 'insert':
            this.$insertTransformation(this.docID, transformation)
          break;
          case 'delete':
            this.$deleteTransformation(this.docID, transformation)
          break;
        }

        // Update the previous text
        this.prevDocText = this.docText
      }

    },

    // Push the transform to the buffer and set the state to buffered
    pushTransform: function (transform) {
      this.bufferedTransformations.push(transform)
      this.$store.commit('TEXT_BUFFER')
    },

    // Adjust the transforms locations depending on their type, 
    // provided transform1 is before transform2 in
    // the sorted array
    moveSortedTransformLocation: function (transform1, transform2) {
      if (transform2.location >= transform1.location) {
        switch (transform2.type) {
          // Move the second transform, provided transform1 is applied before
          case 'insert':
            transform2.location = transform2.location + transform1.data.length
          break;
          case 'delete':
            transform2.location = transform2.location - transform1.data.length
          break;
        }
      }
    },

    // Sort the transforms of the same version by length, and then alphabetically
    sortTransformBuffer: function () {
      return new Promise((resolve) => {
          this.bufferedTransformations.sort(function compare(t1, t2) {
            // Consider only transforms on the same type
            if (t1.version == t2.version) {
              // Shorter transforms come first
              if (t1.data.length > t2.data.length) return 1
              else if (t1.data.length < t2.data.length) return -1
              // If the transforms have the same length, sort alphabetically
              else return t1.data.localeCompare(t2.data)
            } else {
              // Sort by the version
              if (t1.version > t2.version) return 1
              else if (t1.version < t2.version) return -1
            }
          })
          // Sorting is finished
          resolve()
      })
    },

    // Sort the buffer, then move the transformations accordingly
    // Can be only executed when in state TEXT_BUFFERED
    handleTransformBuffer: function () {
      // the value by which the location of transform should be moved
      var locationSum = 0
      return new Promise((resolve) => {
        // First: sort the buffer
        this.sortTransformBuffer().then(() => {
          // Iterate through all transforms
          for (var i = 0; i < this.bufferedTransformations.length; i++) {
            // Move the transform
            this.bufferedTransformations[i].location += locationSum
            switch (this.bufferedTransformations[i].type) {
              case 'insert':
                locationSum += this.bufferedTransformations[i].data.length
              break;
              case 'delete':
                locationSum -= this.bufferedTransformations[i].data.length
              break;
            }
          }
          // Finished
          resolve()
        })
      })
    },

    // Apply the transformation from buffer to current text
    applyTransformation: function (transformation) {
      return new Promise((resolve) => {
        // Get current cursor position
        let cursorPos = this.$refs.document.$el.querySelector('textarea').selectionEnd
        var newCursorPos
        switch (transformation.type) {
          case 'insert':
            // |P|R|E|V|I|O|U|S|
            // 0 1 2 3 4 5 6 7 8
            // insert before at location x = 4: 'CAT'
            //
            // -> slice(0, 4):
            // |P|R|E|V|
            // 0 1 2 3 4
            // -> slice(4, end):
            // |I|O|U|S|
            // 4 5 6 7 8
            //
            // PREVIOUS + CAT + _TEXT
            this.docText = [this.docText.slice(0, transformation.location), transformation.data, this.docText.slice(transformation.location)].join('')
            // Update previous text
            this.prevDocText = this.docText
            // The transformation was applied: update the version
            this.version = transformation.version

            // Calculate the new position of the cursor
            
            // Only mind if the cursor was somewhere after the transform location
            if (cursorPos >= transformation.location) 
              newCursorPos = cursorPos + transformation.data.length // Move by insertion length
            else newCursorPos = cursorPos // Else: don't change the cursor position

            // Set new cursor position
            this.setCursorPosition(newCursorPos)
            break;
          case 'delete':
            // |P|R|E|V|I|O|U|S|
            // 0 1 2 3 4 5 6 7 8
            // delete 2 characters starting at location 4
            //
            // -> slice(0, 4):
            // |P|R|E|V|
            // 0 1 2 3 4
            //  4 + 2 = 6
            // -> slice(6, end):
            // |U|S|
            // 6 7 8
            //
            // PREV + US
            this.docText = 
            [
              this.docText.substring(0, transformation.location),
              this.docText.substring(transformation.location + parseInt(transformation.dataLength), this.docText.length)
            ].join('')
            // Update previous text
            this.prevDocText = this.docText
            // The transformation was applied: update the version
            this.version = transformation.version

            // Calculate the new position of the cursor

            if (cursorPos >= transformation.location) newCursorPos = cursorPos - transformation.data.length // Go back by deletion length
            else newCursorPos = cursorPos // Else: don't change the cursor positions

            // Set new cursor position
            this.setCursorPosition(newCursorPos)
            break;
        }
        // Done: resolve the promise
        resolve()
      })

    },

    // Apply transformations from the buffer: can only be called in TEXT_BUFFERED state
    applyMultipleTransformation: function () {
      console.log('applying')
      return new Promise((resolve, reject) => {
        // If there are any transforms to be applied
        if (this.bufferedTransformations.length > 0) {
          this.handleTransformBuffer().then(async () => {
            // Retrieve the first transform in the buffer
            var transform = this.bufferedTransformations[0]
            // Remove it from the buffer
            this.bufferedTransformations.splice(0, 1)

            console.log('appluing ' + transform.data)
            // If the transform hasn't been yet applied
            if (!transform.applied) {
              this.$store.commit('TEXT_APPLY')
              await this.applyTransformation(transform)
            }
          })
          if (this.bufferedTransformations.length > 0) 
            resolve(true) // The buffer still needs to be handled
          else 
            reject(false) // All transforms have been applied
        }
        reject(false) // No transforms to apply
      });
    }
  },
  created () {
    // Watch the state changes
    this.$store.watch(
      this.$store.getters.getTextState, state => {
        switch (state) {
          case TEXT_UNCHANGED:
          break;
          case TEXT_BUFFERED:
            this.applyMultipleTransformation().then(() => {
              this.$store.commit('TEXT_BUFFER')
            }).catch(() => {
              this.$store.commit('TEXT_UNCHANGE')
            })
          break;
          case TEXT_APPLYING:
          break;
        }
      }
    )
  },
  mounted () {
    this.docID = this.$route.params.id

    // Check the connection state
    if (this.$store.getters.getConnectionState()) {
      // Subscribe to the document and retrieve its content
      this.$subscribeToDocument(this.docID)
      if (this.noError()) {
        this.$toast.success('Connected to document')
        // The document is initially in the unchanged state
      } else {
        this.$toast.error('Error while connecting to document')
      }
    }
  },
  beforeRouteLeave: function (to, from , next) {
    // When leaving the edition page, unsubscribe to the document
    this.$unsubscribe()
    if (this.noError()) {
      this.$toast.success('Disconnected to document')
      // Allow to go to another page
      next()
    } else {
      this.$toast.error('Error while disconnecting to document')
      next(false)
    }
  },
  watch: {
    // Detect new response from the server
    response: function (newResponse) {
      if (newResponse == undefined) return;
      switch (newResponse.dataType) {
        case 'blob': // Document content
            this.docText = newResponse.payload
            this.version = newResponse.version
            this.prevDocText = this.docText
            this.$store.commit('TEXT_UNCHANGE')
          break;
        case 'transform':
            switch (newResponse.type) {
              case 'insert':
                this.pushTransform(new Insertion(newResponse.location, newResponse.data, newResponse.version))
                break;
              case 'delete':
                this.pushTransform(new Deletion(newResponse.location, newResponse.data, newResponse.version))
                break;
            }
          break;
      }
    },
    docText: function() {
      if (this.$store.getters.getTextState() == TEXT_UNCHANGED)
        this.checkChangedData()
    }
  }
})
</script>

<style>
  #app {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: blue;
  }
</style>
