<template>
  <v-container>
    <layout-basic>
        <v-tooltip right>
          <add-new-file slot="activator" @added="getAllDocuments"/>
          <span>Add new file</span>
        </v-tooltip>
        <files-table v-bind:docs="docs" @deleted="getAllDocuments"/>
    </layout-basic>
  </v-container>
</template>

<script>
import LayoutBasic from '@/components/layouts/basic'
import Receiver from '@/mixins/Receiver'
import Vue from 'vue'
import FilesTable from './FilesTable'
import AddNewFile from './AddNewFile'

export default Vue.extend({
  mixins: [ Receiver ],
  components: {
    LayoutBasic
  },
  data () {
    return {
      docs: []
    }
  },
  methods: {
    connectToDocument: function () {
      this.$subscribeToDocument(parseInt(this.docID))
    },
    getAllDocuments: function () {
      this.$requestDocsInfo()
    },
    deleteDocument: function () {

    }
  },
  created: function () {
    this.$store.watch(this.$store.getters.getConnectionState, state => {
      if (state) {
        this.getAllDocuments()
      }
    })
  },
  mounted: function () {
    if (this.$store.getters.getConnectionState()) {
      this.getAllDocuments()
    }
  },
  watch: {
    response: function(val, oldVal) {
      if (val.dataType == 'docsinfo') {
        this.docs = val.docs
      }
    }
  }
})
</script>

<style>
  #app {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: blue;
  }
</style>
