<template>
  <v-data-table :headers="headers" :items="docs" class="elevation-1">
    <template v-slot:items="props">
      <td class="text-xs-left">{{ props.item.docID }}</td>
      <td>
        <v-layout row>
          <v-flex class="text-xs-left" xs8>{{ props.item.docName }}</v-flex>
          <v-flex class="text-xs-left" xs2>
            <router-link :to="{ name: 'edit', params: { id: props.item.docID }}" replace><v-btn color="info"><font-awesome-icon icon="edit"/></v-btn></router-link>
          </v-flex>
          <v-flex class="text-xs-left" xs2>
            <delete-file v-bind:docID="props.item.docID" @deleted="emitDelete"/>
          </v-flex>
        </v-layout>
      </td>
    </template>
  </v-data-table>
</template>

<script>
import Vue from 'vue'
import DeleteFile from './DeleteFile'

export default Vue.component('files-table', {
  props: ['docs'],
  data: function () {
    return {
        headers: [
          {
            text: 'ID',
            align: 'left',
            value: 'ID',
            width: 15
          },
          { 
            text: 'File name', 
            value: 'name' 
          }
        ]
    }
  }, 
  methods: {
    emitDelete: function () {
      this.$emit('deleted')
    }
  }
})
</script>