<template>
  <v-container>
    <layout-basic>
      <p>Hello</p>
    </layout-basic>
  </v-container>
</template>

<script>
import LayoutBasic from '@/components/layouts/basic'
export default {
  components: {
    LayoutBasic
  },
  data () {
    return {
    }
  }
}
</script>

<style>
  #app {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: blue;
  }
</style>
