<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-app id="inspire">
    <v-toolbar color="#7C606B" dark fixed app>
      <router-link to="/files" replace><img :src="require('../../assets/poki-logo-transparent.png')" height="100"/></router-link>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat @click="$router.replace({name: 'files'})">Files</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height id="document-text">
        <v-layout
          justify-center
          align-center
        >
          <v-flex>
            <slot/>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <v-footer color="#7C606B" app>
      <span class="white--text">&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    data: () => ({
      drawer: null
    }),
    props: {
      source: String
    }
  }
</script>
